extends layout

block content
  div.errorBox
    .error-container
      h1 500 - Internal Server Error
      img(src='/images/error_500.png', alt='Internal Server Error', class='error-image') 
      p Oops! Something went wrong.
      a 

